
.DS_Store
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/ERA5_grbfiles/era5_daily_pl_20210101.grb
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/ERA5_grbfiles/era5_daily_sfc_20210101.grb
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway3_NOLANDSEA/met_em.d01.2021-01-01_12:00:00.nc
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway3_NOLANDSEA/met_em.d01.2021-01-01_18:00:00.nc
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway3_NOLANDSEA/met_em.d01.2021-01-01_06:00:00.nc
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway3_NOLANDSEA/met_em.d01.2021-01-01_00:00:00.nc
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway2_default/met_em.d01.2021-01-01_18:00:00.nc
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway2_default/met_em.d01.2021-01-01_12:00:00.nc
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway2_default/met_em.d01.2021-01-01_06:00:00.nc
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway2_default/met_em.d01.2021-01-01_00:00:00.nc
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway1_SST_LANDSEA/met_em.d01.2021-01-01_18:00:00.nc
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway1_SST_LANDSEA/met_em.d01.2021-01-01_12:00:00.nc
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway1_SST_LANDSEA/met_em.d01.2021-01-01_06:00:00.nc
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway1_SST_LANDSEA/met_em.d01.2021-01-01_00:00:00.nc
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway2_default/ERA5:2021-01-01_18
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway2_default/ERA5:2021-01-01_12
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway2_default/ERA5:2021-01-01_06
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway2_default/ERA5:2021-01-01_00
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway3_NOLANDSEA/ERA5:2021-01-01_00
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway3_NOLANDSEA/ERA5:2021-01-01_06
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway3_NOLANDSEA/ERA5:2021-01-01_12
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway3_NOLANDSEA/ERA5:2021-01-01_18
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway1_SST_LANDSEA/ERA5:2021-01-01_00
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway1_SST_LANDSEA/ERA5:2021-01-01_06
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway1_SST_LANDSEA/ERA5:2021-01-01_12
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway1_SST_LANDSEA/ERA5:2021-01-01_18
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/LSERA5:2012-12-22_00.nc
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/LSERA5:2012-12-22_00.nc
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/LSERA5:2012-12-22_00.nc
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway3_NOLANDSEA/wrflowinp_d01
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway3_NOLANDSEA/wrfinput_d01
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway3_NOLANDSEA/wrfbdy_d01
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway2_default/wrflowinp_d01
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway2_default/wrfinput_d01
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway2_default/wrfbdy_d01
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway1_SST_LANDSEA/wrflowinp_d01
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway1_SST_LANDSEA/wrfinput_d01
WRF_experiments/Bdy_conds_scripts/ERA5_WRF_steps/sample_files/Pathway1_SST_LANDSEA/wrfbdy_d01
Plotting/HrlExt/Changes_IFD_accum_EPICC.png
Plotting/HrlExt/Changes_IFD_resampled.png
